@model IEnumerable<Akbar_Project.Models.WebUser>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('https://picjumbo.com/wp-content/uploads/beautiful-nature-scenery-free-photo.jpg');
        background-size: cover; /* To make sure the image covers the entire page */
        background-position: center; /* To center the image */
    }
</style>

<style>
    .text-center {
        text-align: center;
        font-family: "Arial", sans-serif;
    }

        .text-center h1 {
            font-size: 40px;
            color: black;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            font-weight: bold;
        }

        .text-center h4 {
            font-size: 25px;
            color: black;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
</style>

<div class="text-center">
    <h1>Welcome to the Social Network!</h1>
    <h4>Are you ready for a new experience?</h4>
</div>

<div class="news-component">



</div>




   
